body{
    box-sizing: border-box;
    display: block;
    margin: 0;
    /* overflow: hidden; */
  }
  h1{
    font-size:3.5rem;
  }
  p{
    font-size: 1.4rem;
  }
  li{
    font-size: 1.4rem;
  }
  .row{
    font-size: 1.3rem;
  }
  .resumeItem ul li{
    font-size: 1.2rem;
  }
  .sidebar{
    width: 20%;
    position: fixed;
    background-color: rgb(21, 20, 20);
    height: 100vh;
    color: #fff;
    text-align: center;
  }
  .mainBody{
    margin-left: 20%;
  }
  #home{
    position: relative;
  }

  .social,.profileImg {
    width: 100%;
  }
  .profileImg{
    display: flex;
    justify-content: center;
    margin: .4rem 0 .3rem 0;
  }
  .socialLink{
    text-decoration: none;
    color: white;
  }
  .socialLink:hover{
    color: rgb(0, 153, 255);
  }
  .name{
    padding-bottom: 0.3rem;
  }
  .social{
    display: flex;
    justify-content: space-evenly;
  }
  .icon{
    height: 45px;
    width: 45px;
    background-color:rgb(53, 53, 53) ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .fa{
    font-size:28px;
  }
  .scrollto{
    font-size:25px;
  }
    .rounded-circle{
      width: 170px;
      height: 170px;
      object-fit:fill;
      border: 8px solid rgb(53, 53, 53);
    }
    .profile{
      display: grid;
      grid-template-rows: auto;
    }
    .background-img{
      height:100vh;
      width: 100%;
      object-fit:cover;
      
    }
    button {
      position: absolute;
      padding: 10px 20px;
      border: none;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      font-size: 1.5rem;
      margin: 5px;
      border-radius: 10px;
      text-shadow:1px 1px 2px black; 
      box-shadow: 5px 5px 1px black;
    }

    /* Styling the "Hire Me" button */
    .hire-button {
      background-color:  #ff0000 ;/* Green */
      color: white;
      font-weight: 500;
      top: 18%;
      left: 15%;
    }

    /* Styling the "Download Resume" button */
    .download-button {
      background-color: #2076ee; 
      /* background-color:  #cfcf17; */
      color: white;
      bottom: 20%;
      right: 12%;
      font-weight: 500;
    }
    .download-button:hover {
        outline-color: transparent;
        outline-style:solid;
        box-shadow: 0 0 4px 3px #ffffff;
    }
    .hire-button:hover {
        outline-color: transparent;
        outline-style:solid;
        box-shadow: 0 0 4px 3px #ffffff;
    }
    ul{
      list-style: none;
      padding-left: 0;
    }
    .pageList li{
      color: rgb(152, 152, 152);
      margin: 2rem 0 2rem 0;
      position: relative;
      white-space: nowrap;
    }
    .pageList li:hover{
      color: #ffffff;
    }
    .pageList li a i {
      color: rgb(152, 152, 152);
      transition: color 0.3s; 
    }

    .pageList li:hover a i {
      color: rgb(18, 148, 255);
    }
    .subTitle::after {
      margin-top: 0.8rem;
      content: "";
      /* position: absolute; */
      display: block;
      width: 100px;
      height: 6px;
      background: #149ddd;
      bottom: 0;
      left: 0;
    }
    .subSection{
      padding: 2rem 1.5rem 2rem 1.5rem;
    }
    .space1{
      margin-top: 0.3rem;
    }
    #about li{
      margin: 0.2rem 0 1rem 1.5rem;

    }

    #about img{
      margin-left: 1rem;
      border: 3px solid rgb(30, 80, 121);
      box-shadow: 1px 1px 5px;
    }
    #skills{
      background-color: #f2faff;
    }
    
    .skill-container {
      width: 100%;
      background-color: #ddd;
      margin:0.5rem 0 1rem 0;
    }

    .skillBar {
      text-align: right;
      padding-top: 7px;
      padding-bottom: 7px;
      color: white;
      background-color: #149ddd;
    }
    .val{
      float: right;
    }


    .java {width: 80%; }
    .html {width: 95%; }
    .css {width: 80%;}
    .js {width: 60%;}
    .python {width: 50%; }
    .iot {width: 70%; }
    .dsa {width: 70%;}
    .cn {width: 75%;}
    .sql {width: 70%; }
    .dbms {width: 75%; }
    .aws {width: 60%;}
    .esd {width: 80%;}
    .photograph {width: 95%;}
    .sb {width: 75%;}

    .resumeItem::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      left: -9px;
      top: 5px;
      background: #fff;
      border: 2px solid #1f5297;
    }
    .resumeItem{
      position: relative;
      margin-top: -2px; 
      border-left: 2px solid #1f5297;
      padding: 0 0 1rem 1rem;
    }
    .resumeItem ul{
      margin:0;
    }
    .resumeItem li{
      margin-left: 1rem;
      font-size: 10pt;
      list-style:disc;
      font-style:oblique;
    }
    h5{
      margin: 0.7rem 0 0 0;
    }
    .date{
      font-size:medium;
      padding: 2px;
      font-weight: 500;
      background-color: #c7ddff;
    }
    /* .Pro2Img{ */
      /* display: flex; */
      /* float: right; */
      /* width: 100%;
      align-items: center;
      justify-content: center; */
    /* } */
    .pro2{
      width: 50%;
      float: right;
    }
    #Badge, #resume{
      background-color: #d2eefe;
    }
    #eduInt{
      background-color: white;
      padding: 10px 10px 20px 10px;
      border-radius: 10px;
    }
    .bl{
      background-color: #f2faff;
      border-radius: 0 10px 10px 0;
    }
    .pro_head{
      margin-bottom: 15px ;
    }
    .bottom-space{
      padding-bottom: 10px;
    }
    .cbedge{
      width: 150px;
      height: 150px;
      /* float: right; */
    }
    .right{
      float: right;
    }
    .left{
      float: left;
      margin-right: 1rem;
    }

    .allBadge{
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;  
      /* justify-content: center; */
    }
    .badgeBox{
      width: 90%;
      background-color: #fff;
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: -2px 2px 3px;
      margin: 0.5rem 0 0.5rem 0;
      font-size: 9pt;
    }
    .badgeBox:nth-child(even) {
      box-shadow: 2px 2px 3px;
    }
    .noMarg{
      margin-bottom: 0 ;
      font-size: 1.3rem;
    }
    .BSkill{
      font-size: medium;
      font-weight: 500;
    }
    .BSkillBox{
      font-size: 1.2rem;
      display: flex;
      flex-wrap: wrap;
    }
    .BSkills{
      color: #fff;
      padding: 0.2rem 0.5rem 0.2rem 0.5rem;
      border-radius: 1rem;
      background-color: #149ddd;
      margin: 0.4rem;
    }
    .BadgeLink{
      color: black;
      text-decoration: none;
    }
    .BadgeLink:hover{
      text-decoration: underline;
    }
    .imgs0,.imgs1, .imgs2{
      width: 100%;
      padding: 0.5rem;
      border: 1px solid black;
    }

    .carousel-imgs1 img{
      width: 250px;
      height: max-content;
    }
    .carousel-imgs2 img{
      width: 350px;
      /* height: max-content; */
    }
.carousel-imgs0 img{
  width: 600px;
  box-shadow: 7px 7px 7px #171f1c;
  /* height: max-content; */
}
    .carousel-imgs1,.carousel-imgs2,.carousel-imgs0 {
      margin: 5px; /* Add margin for spacing between images */
      border-radius: 5px;

    }
    .carousel-imgs0 {
      margin: 5px 30px 5px 30px; /* Add margin for spacing between images */
      border-radius: 5px;
    }

    .contects{
      display: flex;
      justify-content: space-around;
    }
    .contectLink{
      font-size: 1.4rem;
      text-decoration: none;
      color: black;
    }

    .carousel-imgs1,.carousel-imgs2,.carousel-imgs0,.pro2 {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }

    /* The Modal (background) */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      padding-top: 50px;
      left: 0;
      top: 0;
      height: 100%;

      width:100%;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.9);
    }

    .modal-content {
      margin: auto;
      display: block;
      max-width: 80%; 
      height: 80%; 
    }


    .modal-content {
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
      from {
        -webkit-transform: scale(0);
      }

      to {
        -webkit-transform: scale(1);
      }
    }

    @keyframes zoom {
      from {
        transform: scale(0);
      }

      to {
        transform: scale(1);
      }
    }

    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }

    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }

    @media only screen and (max-width: 700px) {
      .modal-content {
        height: 100vh;
      }
    }
    .appImg{
      height: 120px;
      width: auto;
    }
    #contect{
      background-color:#e3f3ff ;
    }
    #Photography, #Certificate{
      padding-left: 0;
      padding-right: 0;
    }
    .photoBlock{
      padding: 0 1.5rem 0 1.5rem;
    }
    /* Add this at the end of your existing CSS file */
@media only screen and (max-width: 600px) {
  /* Mobile-specific styles */
  .sidebar {
    width: 100%;
    height: 100vh;
    /* top: 0; */
    position: static;
    background-color: rgb(21, 20, 20);
    text-align: center;
  }

  .mainBody {
    margin-left: 0;
  }

  .name {
    padding-bottom: 0.2rem;
  }

  .rounded-circle {
    width: 120px;
    height: 120px;
    border: 5px solid rgb(53, 53, 53);
  }
  .contects{
    flex-direction: column;

  }
  .contectLink{
    padding: 1rem 0 1rem 0;
  }
  .BSkillBox, .BSkill{
    display: none;
  }
  .aboutImg{
    width: 90% ;
    margin: 2rem;
  }
  .flickity-button {
    display: none;
  }
  .profileImg{
    margin-top: 0;
    padding-top: .3rem;
  }
  .hire-button{
    top:auto;
    left: auto;
    bottom: 22%;
    right: 18%;
  }
  .download-button{
    bottom: 10%;
    right: 8%;
  }
  /* Add more mobile-specific styles as needed */
  .modal-content {
    max-width: 100%; /* Adjust the maximum width of the modal content for mobile */
    height: 100vh;
  }

  .carousel-imgs1 img,
  .carousel-imgs2 img,
  .carousel-imgs0 img,
  .pro2 img {
    width: 100%; /* Make sure images fill the entire width of the modal */
    height: auto; /* Maintain the aspect ratio */
  }

  .close {
    top: 10px; /* Adjust the position of the close button for mobile */
    right: 15px;
    font-size: 30px;
      .background-img {
  width: 300px;   /* adjust size */
  height: auto;   /* keeps aspect ratio */
  display: block;
  margin: 20px auto; /* centers it */
}

  }
}

    






